<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ERROR 404</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div style="justify-content: center; align-items: center; display: flex; margin: 16px; flex-direction: column">
        <img src="https://cdn.dribbble.com/users/381530/screenshots/3949858/media/aff8c4541abddf91b8f69206b2175381.gif" alt="Error404", width="50%" height="50%">
        <h1>No se ha encontrado la pagina a la que desea ingresar.</h1>
        <p>Pulsa el botón "Regresar" para ir a la pagina de inicio.</p>
    </div>
    <div style="justify-content: center; align-items: center; display: flex;">
        <button style="background-color: #ff4d4d; color: white; padding: 10px 20px; font-size: 32px; cursor: pointer; border-radius: 35px;" onclick="regresar()">Regresar</button>
    </div>
</body>

<script>
    function regresar() {
        window.location.href = '/';
    }
</script>

</html>