<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ERROR 500</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
        <img src="https://cdn.dribbble.com/users/19381/screenshots/3471308/dribbble-500-animated.gif" alt="Error500", width="20%" height="20%">
        <h1>Ocurrio un error inesperado, se esta trabajando en una solución.</h1>
        <p>Comunicate con el personal de soporte para poder conocer más información.</p>
        <p>Telefono: 7775189232</p>
        <p>Correo: soporte.ayuda@gmail.com</p>
    </div>
    <div style="justify-content: center; align-items: center; display: flex;">
        <button style="background-color: rgb(97, 97, 245); color: white; padding: 10px 20px; font-size: 16px; cursor: pointer; border-radius: 35px;" onclick="regresar()">Regresar</button>
    </div>
</body>

<script>
    function regresar() {
        window.location.href = '/';
    }
</script>

</html>